.copyRight {
  width: 80%;
  margin: 0 auto;
  padding-top:10%;
}

.query {
  color:blue;
  text-decoration: underline;
}

.query:hover{
  color:lightblue;
}

.hotpaper {
  padding-top:10%;
  text-align:center;
}

.github_logo{
  padding-top:10%;
  text-align:center;
}